[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/arbitrum"]
	path = lib/arbitrum
	url = https://github.com/OffchainLabs/token-bridge-contracts
